{%load my_tags%}

<div class="col-md-6">
    <div class="card mb-4 box-shadow">

        <img class="card-img-top" src="{% mediapath object.picture %}"
             alt="Card image cap">
        <div class="card-body">
            <p class="card-text">Название: {{ object.heading | title }}</p>
            <p class="card-text">Описание: {{ object.description }}</p>
            <p class="card-text">Цена: {{ object.price }}</p>
            <p class="card-text">Дата создания: {{ object.created_at }}</p>
            <p class="card-text">Дата обновления: {{ object.updated_at }}</p>
            <p class="card-text">Категория: {{ object.category }}</p>

            <a href="{% url 'catalog:product' %}" class="btn btn-secondary my-2">Все продукты</a>

        </div>
    </div>
</div>

<div class="col-md-6">
    <div class="card">
        <div class="card-header">
            <h5 class="card-title">
                Версия продукта
            </h5>
        </div>
        <div class="card-body">
            {{ formset.management_form }}
            {% for form in formset.forms %}
                {% if not forloop.last %}
                    {{ form.as_p }}
                    <hr>
                    <hr>
            {% endif %}
            {% endfor %}

        </div>
        <div class="card-footer"></div>
    </div>
</div>