{% extends 'catalog/base.html' %}

{% block content %}
<div class="row">
    <div class="col-md-4">
        <div class="card mb-4 box-shadow">
            <div class="card-body">
                <p class="card-text">Это просто страница для проверки работы задания 19.1</p>
                <div class="btn-group">
                    <ul class="list-unstyled">
                        <a class="p-2 btn btn-outline-primary" href="/home/">Каталог</a>
                        <a class="p-2 btn btn-outline-primary" href="/contacts/">Контакты</a>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}